<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h2>입력된 정보</h2>
<p>이름: <span th:text="${name}"></span></p>
<p>성별: <span th:text="${gender}"></span></p>
<p>생년월일: <span th:text="${birthDate}"></span></p>
<p>관심사: <span th:text="${interests}"></span></p>
</body>
</html>
